<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0"
    metadata-complete="true">

    <welcome-file-list>
        <welcome-file>
        index.html
    </welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>com.controller.FrontControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
    
    <!-- Returns a text with a parameter from the config file.-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.controller.HelloServlet.HelloServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>Hunter</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>FormDisplayServlet</servlet-name>
        <servlet-class>com.controller.ServletCommunication.FormDisplay</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FormProcessServlet</servlet-name>
        <servlet-class>com.controller.ServletCommunication.FormProcess</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MimeServlet</servlet-name>
        <servlet-class>com.controller.Mimes.MimeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PDFMimeServlet</servlet-name>
        <servlet-class>com.controller.Mimes.PdfServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HeaderAndFooter</servlet-name>
        <servlet-class>com.controller.ServletRDIncludeExample.HeaderAndFooterServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>com.controller.LoginForm.LoginFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <servlet-class>com.controller.LoginForm.RegistrationFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginValidator</servlet-name>
        <servlet-class>com.controller.LoginForm.LoginValidatorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.controller.LoginForm.RegisterUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchbyKeyword</servlet-name>
        <servlet-class>com.controller.LoginForm.SearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CookieSender</servlet-name>
        <servlet-class>com.controller.CookieTest.CookieSenderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CookieReciever</servlet-name>
        <servlet-class>com.controller.CookieTest.CookieRecieverServlet</servlet-class>
    </servlet>
    

<!-- Servlet Mapping //////////////////////////////////////////////////////  -->
    <!-- <servlet-mapping>
        <servlet-name>FormDisplayServlet</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FormProcessServlet</servlet-name>
        <url-pattern>/formresult</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MimeServlet</servlet-name>
        <url-pattern>/mime</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PDFMimeServlet</servlet-name>
        <url-pattern>/pdfmime</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HeaderAndFooter</servlet-name>
        <url-pattern>/headandfoot</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/loginform</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginValidator</servlet-name>
        <url-pattern>/loginValidate</url-pattern>
    </servlet-mapping> -->
    
</web-app>